@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E5FFF4;
    color: #003712;
    font-family: "Amaranth", sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00A462;
    padding: 1em;
}

.CardGrid {
    display: flex;
    gap: 2em;
    text-align: center;
    background-color: #003712;
    padding: 10px;
}

.Card,
.front,
.back {
    animation: name duration timing-function delay iteration-count direction fill-mode;
    align-content: center;
    width: 12em;
    height: 12em;
    padding: 2em;
    border-radius: 5%;
    background-color: red;
}

